<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="flex align-items-center">
        <i class="pi pi-angle-double-right mr-2"></i>
        <h5>Workflow Management</h5>
      </div>

      <form [formGroup]="workflowmanagementForm"
        class="flex w-9 mx-auto flex-column justify-content-center align-items-center p-5 gap-2">
        <div class="flex justify-content-center gap-2 w-full">
          <div class="field flex-1">
            <div class="flex-column flex gap-2">

              <label>Office<span class="text-red-700">*</span></label>
              <p-dropdown  [options]="dropdownItemOfficeTypeMasterList" formControlName="Office" optionLabel="name" placeholder="select Office" ariaLabelledBy="dd1"></p-dropdown>
              <small *ngIf="isInvalidAndTouched('Office')" class="p-error">
                Office is required.
              </small>
            </div>
          </div>
          <div class="field flex-1">
            <div class="flex-column flex gap-2">
              <label>Functionality<span class="text-red-700">*</span></label>
              <p-dropdown  [options]="dropdownItemFuncMasterList"  formControlName="Functionality" optionLabel="name" placeholder="select Functionality"></p-dropdown>
              <small *ngIf="isInvalidAndTouched('Functionality')" class="p-error">
                Functonality is required.
              </small>
            </div>
          </div>
        </div>

      </form>

      <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
        <button pButton pRipple label="Back" onclick="history.back()"></button>

        <p-button label="Search" icon="pi pi-search" styleClass="p-button-info" (onClick)="onSearchList()"></p-button>
        <p-button label="Add New" icon="pi pi-add" styleClass="p-button-info"></p-button>
      </div>
      <div *ngIf="showTable">
        <p-table
        #dt2
        [value]="HooList"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        [globalFilterFields]="['intOperatorCode']"
        [tableStyle]="{ 'min-width': '75rem' }"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Head Of Account</th>
                <th>Functionality</th>
                <th>Office</th>
                <th>Treasury</th>
                <th>NGIPF Admin</th>
                <th>Action</th>
            </tr>
            
        </ng-template>
        <ng-template pTemplate="body" let-HooList>
            <tr>
                <td>
                    {{ HooList.hoa }}
                </td>
                <td>
                  {{ HooList.functionality}}
                </td>
                <td>
                  {{ HooList.office}}
                </td>
                <td>
                  {{ HooList.treasury }}
                </td>
                <td>
                  {{ HooList.ngipfAdmin }}
                </td>
                <td>
                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
</p-table>
</div>
    </div>
  </div>
</div>
