<div class="grid fadein animation-duration-500">
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20  mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/employee.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl">
                       Insert
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link" (click)="insertbank()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Insert Deposit into Treasury Link Bank.</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20  mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/employee.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"> Bank Challan List
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link" (click)="basicChallanList()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">View Approved Deposits into Treasury Link Bank.</div>
        </p-card>
    </div>
    <button pButton pRipple label="Back" onclick="history.back()"></button>
</div>

