<div class="grid">
    <div class="col-12">
      <div class="card">
        <div class="flex align-items-center">
          <i class="pi pi-angle-double-right mr-2"></i>
          <h5>Interest Credit Bill/Statement Summary</h5>
        </div>
  
        <form [formGroup]="PFInterestForm"
          class="flex w-9 mx-auto flex-column justify-content-center align-items-center p-5 gap-2">
          <div class="flex justify-content-center gap-2 w-full">
            <div class="field flex-1">
              <div class="flex-column flex gap-2">
                <label>Financial Year<span class="text-red-700">*</span></label>
                <p-dropdown [options]="dropdownItemYearType" 
                  formControlName="Financial_Year" optionLabel="Year"></p-dropdown>
              </div>
            </div>
          </div>
        </form>
  
        <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
          <button pButton pRipple label="Back" onclick="history.back()"></button>
        </div>
  
      </div>
    </div>
  </div>