<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center">
                <i class="pi pi-angle-double-right mr-2"></i>
                <h5>Capture PF Interest Year by DPPG</h5>
            </div>

            <form [formGroup]="capturePfInterestYearForm" class="flex w-9 flex-column justify-content-center align-items-center p-5 gap-2">
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Debit Head Of Account</label>

                            <p-dropdown [options]="dropdownItemHeadOfAccountId" formControlName="HeadOfAccountId" optionLabel="hoaId" placeholder="Select Hoa Id"></p-dropdown>

                            <small *ngIf="isInvalidAndTouched('DebitHeadOfAccount')" class="p-error"> Debit Head Of Account is required. </small>
                        </div>
                    </div>

                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Search By<span class="text-red-700">*</span></label>
                            <select pInputText formControlName="Search_By" id="Search_By">
                                <option value="" disabled>Select</option>
                                <option value="option1">Head Of Account & Treasury</option>
                                <option value="option2">Head Of Account</option>
                                <option value="option3">Treasury</option>
                            </select>
                            <small *ngIf="isInvalidAndTouched('Search_By')" class="p-error"> Search By is required. </small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <!-- <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Operator Name<span class="text-red-700">*</span></label>
                            <p-dropdown [options]="dropdownItemOperatorName" formControlName="OperatorName" optionLabel="operatorName" placeholder="select Operator Name"></p-dropdown> 
                            <small *ngIf="isInvalidAndTouched('OperatorName')" class="p-error"> Operator Name is required. </small>
                        </div>
                    </div> -->

                    <div class="flex-row flex justify-content-center gap-2 w-full" *ngIf="showTreasury">
                        <div class="field flex-1">
                            <div class="flex-column flex gap-2">
                                <label>Treasury<span class="text-red-700">*</span></label>
                                <p-dropdown [options]="dropdownItemTreasuryname" formControlName="Treasury" optionLabel="trName" [filter]="true" filterBy="trName" [showClear]="true" (onChange)="selectTreasury($event)" placeholder="Select Treasury name"></p-dropdown>
                                <small *ngIf="isInvalidAndTouched('Treasury')" class="p-error"> Treasury is required. </small>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row flex justify-content-center gap-2 w-full" *ngIf="showHeadOfAccount">
                        <div class="field flex-1">
                            <div class="flex-column flex gap-2">
                                <label>Head Of Account<span class="text-red-700">*</span></label>
                                <p-dropdown [options]="dropdownItemHeadOfAccount" formControlName="HeadOfAccount" optionLabel="hoaName" placeholder="Select HOA" [filter]="true" filterBy="hoaName" [showClear]="true" (onChange)="selectHoa($event)"></p-dropdown>
                                <small *ngIf="isInvalidAndTouched('HeadOfAccount')" class="p-error"> Head Of Account is required. </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Operator Name</label>
                            <input type="text" pInputText formControlName="OperatorName" />
                            <!-- <p-dropdown [options]="dropdownItemOperatorName" formControlName="OperatorName" optionLabel="operatorName" placeholder="Select Operator Name"></p-dropdown>  -->
                            <small *ngIf="isInvalidAndTouched('OperatorName')" class="p-error"> Operator Name is required. </small>
                        </div>
                    </div>
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Status<span class="text-red-700">*</span></label>
                            <p-dropdown [options]="dropdownItemStatusType" formControlName="Status" optionLabel="name" placeholder="Select"></p-dropdown>
                            <small *ngIf="isInvalidAndTouched('Status')" class="p-error"> Status is required. </small>
                        </div>
                    </div>

                    <div class="field flex-1"></div>
                </div>
            </form>

            <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
                <button pButton pRipple label="Back" onclick="history.back()"></button>
                <p-button label="Reset" icon="pi pi-replay" styleClass="p-button-warning" (click)="resetForm()"></p-button>
                <p-button label="Search" icon="pi pi-search" styleClass="p-button-info" (click)="onSearch()"></p-button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showTable" class="grid">
    <div class="col-12">
        <div class="card">
            <p-table [value]="tableData" [rows]="12" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search Keyword" class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="max-width: 4rem" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th> -->
                        <th style="min-width: 10rem" alignFrozen="left" class="bg-blue-500 text-white">Credit HOA Code</th>
                        <th style="min-width: 10rem" class="bg-blue-500 text-white">Treasury Name</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">Operator Description</th>
                        <!-- <th style="min-width: 12rem" class="bg-blue-500 text-white">Operator Address</th> -->
                        <th style="min-width: 10rem" class="bg-blue-500 text-white">Int Transfer</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">Status</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">Interest Year Upto</th>
                        <th style="min-width: 6rem" class="bg-blue-500 text-white" pFrozenColumn alignFrozen="right">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-ri="rowIndex">
                    <tr class="p-selectable-row">
                        <td style="min-width: 10rem">{{ item.hoa }}</td>
                        <td style="min-width: 10rem">{{ item.treasuryName }}</td>
                        <td style="min-width: 8rem">{{ item.operatorName }}</td>
                        <!-- <td style="min-width: 9rem">{{ item.address }}</td> -->
                        <td style="min-width: 8rem">{{ item.intTransfer }}</td>
                        <td style="min-width: 6rem">{{ item.status }}</td>
                        <td style="min-width: 10rem">
                            <p-dropdown [options]="dropdownItemInterestYear" [(ngModel)]="item.fin_Year" optionLabel="year" placeholder="Select Year"></p-dropdown>
                            <!-- {{item.interestYearUpto}} -->
                        </td>
                        <td style="min-width: 6rem" pFrozenColumn alignFrozen="right" class="flex gap-2">
                            <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link" (click)="showDetailsDialog(capturePfInterestYear, $event)"></button>
                            <p-checkbox [binary]="true" [checked]="selectedCheckbox === i" (onChange)="onCheckboxChange($event, item, ri)"></p-checkbox>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data Available</td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="12">Loading Employee Accounts. Please wait.</td>
                </tr>
            </ng-template> -->
            </p-table>

            <div class="flex flex-col mt-1 align-items-center justify-content-center">
                <div class="flex flex-wrap gap-2">
                    <p-button label=" Save & Approve" styleClass="p-button-info" (click)="showApprovalDialog()" [disabled]="!(this.dialogboxData.length > 0)"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Operator Details" [(visible)]="displayDetails" [modal]="true" [style]="{ width: '50vw' }">
    <div *ngFor="let item of dialogboxData; let i = index">
        <div class="field">
            <label>Credit HOA Code</label>
            <p>
                <strong>{{ item?.hoa }}</strong>
            </p>
        </div>
        <div class="field">
            <label>HOA Description</label>
            <p>
                <strong>{{ item?.operatorName }}</strong>
            </p>
        </div>
        <div class="field">
            <label>PFD Admin Code</label>
            <p>
                <strong>{{ item?.operatorId }}</strong>
            </p>
        </div>
        <div class="field">
            <label>PFD Admin Description</label>
            <!-- <p><strong>{{ item?.institutions }}</strong></p> -->
        </div>
        <div class="field">
            <label>Treasury</label>
            <p>
                <strong>{{ item?.treasuryName }}</strong>
            </p>
        </div>
        <div class="text-xl">
            <p class="font-bold text-blue-500">Last Interest Credit Bill Details</p>
        </div>

        <div class="field">
            <label>Status</label>
            <p>{{ item?.status }}</p>
        </div>
        <div class="field">
            <label>Interest Year Upto</label>
            <p>
                <strong>{{ item?.interestYearUpto }}</strong>
            </p>
        </div>
        <div class="field">
            <label>DDO Code</label>
            <!-- <p><strong>{{ item?.ddoCode }}</strong></p> -->
        </div>
        <div class="field">
            <label>DDO Description</label>
            <!-- <p><strong>{{ item?.address1 }}</strong></p> -->
        </div>
        <div class="field">
            <label>Bill No.</label>
            <!-- <p>{{ item?.billNo }}</p> -->
        </div>
        <div class="field">
            <label>Bill Date</label>
            <!-- <p>{{ item?.billDate }}</p> -->
        </div>
        <div class="field">
            <label>Bill Amount (Rs.)</label>
            <!-- <p>{{ item?.billAmount }}</p> -->
        </div>
        <div class="field">
            <label>Amount Credited To PFD Admin (Rs.)</label>
            <!-- <p>{{ item?.amountCreditedToPfdAdmin }}</p> -->
        </div>
        <div class="field">
            <label>Voucher No.</label>
            <!-- <p>{{ item?.voucherNo }}</p> -->
        </div>
        <div class="field">
            <label>Voucher Date</label>
            <!-- <p>{{ item?.voucherDate }}</p> -->
        </div>
    </div>
    <p-footer>
        <button pButton type="button" label="OK" (click)="displayDetails = false"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Approval Confirmation" [(visible)]="displayApprovalDialog" [modal]="true" [style]="{ width: '50vw' }">
    <div *ngFor="let item of dialogboxData; let i = index">
        <div class="field">
            <label>Credit HOA Code</label>
            <p>
                <strong>{{ item?.hoa }}</strong>
            </p>
        </div>
        <div class="field">
            <label>HOA Description</label>
            <!-- <p><strong>{{ item?.operatorName }}</strong></p> -->
        </div>
        <div class="field">
            <label>PFD Admin Code</label>
            <p>
                <strong>{{ item?.operatorId }}</strong>
            </p>
        </div>
        <div class="field">
            <label>PFD Admin Description</label>
            <!-- <p><strong>{{ item?.operatorName }}</strong></p> -->
        </div>
        <div class="field">
            <label>Treasury</label>
            <p>
                <strong>{{ item?.treasuryName }}</strong>
            </p>
        </div>
        <div class="text-xl">
            <p class="font-bold text-blue-500">Last Interest Credit Bill Details</p>
        </div>
        <div class="field">
            <label>Status</label>
            <p>
                <strong>{{ item?.status }}</strong>
            </p>
        </div>
        <div class="field">
            <label>Interest Year Upto</label>
            <p>
                <strong>{{ item?.interestYearUpto }}</strong>
            </p>
        </div>
        <div class="field">
            <label>DDO Code</label>
            <!-- <p><strong>{{item?.ddoCode }}</strong></p> -->
        </div>
        <div class="field">
            <label>DDO Description</label>
            <!-- <p><strong>{{ item?.address1 }}</strong></p> -->
        </div>
        <div class="field">
            <label>Bill No.</label>
            <!-- <p><strong>{{ item?.billNo }}</strong></p> -->
        </div>
        <div class="field">
            <label>Bill Date</label>
            <!-- <p>{{ item?.billDate }}</p>     -->
        </div>
        <div class="field">
            <label>Bill Amount (Rs.)</label>
            <!-- <p>{{ item?.billAmount }}</p> -->
        </div>
        <div class="field">
            <label>Amount Credited To PFD Admin (Rs.)</label>
            <!-- <p>{{ item?.amountCreditedToPfdAdmin }}</p> -->
        </div>
        <div class="field">
            <label>Voucher No.</label>
            <!-- <p>{{ item?.voucherNo }}</p> -->
        </div>
        <div class="field">
            <label>Voucher Date</label>
            <!-- <p>{{ item?.voucherDate }}</p> -->
        </div>
    </div>
    <div class="text-2xl">
        <p-checkbox [binary]="true" (onChange)="setCheckBox($event)" label="Verified and checked"></p-checkbox>
    </div>

    <p-footer>
        <button pButton type="button" label="Cancel" (click)="displayApprovalDialog = false"></button>
        <button pButton type="button" label="Confirm" (click)="ApproveData()" [disabled]="isVerifiedAndChecked"></button>
    </p-footer>
</p-dialog>
