<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center">
                <i class="pi pi-angle-double-right mr-2"></i>
                <h5>Capture PF Interest Year by DPPG</h5>
            </div>

            <form [formGroup]="capturePfInterestYearForm" class="flex w-9 flex-column justify-content-center align-items-center p-5 gap-2">
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Debit Head Of Account</label>

                            <p-dropdown [options]="dropdownItemHeadOfAccountId" formControlName="HeadOfAccountId" optionLabel="name" [autoDisplayFirst]="false" placeholder="2049" ></p-dropdown>

                            <small *ngIf="isInvalidAndTouched('DebitHeadOfAccount')" class="p-error"> Debit Head Of Account is required. </small>
                        </div>
                    </div>

                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Search By<span class="text-red-700">*</span></label>
                            <select pInputText formControlName="Search_By" id="Search_By" >
                                <option value="" disabled>Select</option>
                                <option value="option1" selected>Head Of Account & Treasury</option>
                                <option value="option2">Head Of Account</option>
                                <option value="option3">Treasury</option>
                            </select>
                            <small *ngIf="isInvalidAndTouched('Search_By')" class="p-error"> Search By is required. </small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <!-- <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Operator Name<span class="text-red-700">*</span></label>
                            <p-dropdown [options]="dropdownItemOperatorName" formControlName="OperatorName" optionLabel="operatorName" placeholder="select Operator Name"></p-dropdown> 
                            <small *ngIf="isInvalidAndTouched('OperatorName')" class="p-error"> Operator Name is required. </small>
                        </div>
                    </div> -->
                    <div class="flex-row flex justify-content-center gap-2 w-full" *ngIf="showHeadOfAccount">
                        <div class="field flex-1">
                            <div class="flex-column flex gap-2">
                                <label>Head Of Account<span class="text-red-700">*</span></label>
                                <p-dropdown [options]="HoadMasterList" formControlName="HeadOfAccount" optionLabel="name" placeholder="Select HOA" [filter]="true" filterBy="hoaName" [showClear]="true" (onChange)="HoaSelected($event)"></p-dropdown>
                                <small *ngIf="isInvalidAndTouched('HeadOfAccount')" class="p-error"> Head Of Account is required. </small>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row flex justify-content-center gap-2 w-full" *ngIf="showTreasury">
                        <div class="field flex-1">
                            <div class="flex-column flex gap-2">
                                <label>Treasury<span class="text-red-700">*</span></label>
                                <p-dropdown [options]="TresuaryMasterList" formControlName="Treasury" optionValue="Code"  optionLabel="Name" [filter]="true" filterBy="code" [showClear]="true"  placeholder="Select Treasury name"></p-dropdown>
                                <small *ngIf="isInvalidAndTouched('Treasury')" class="p-error"> Treasury is required. </small>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="field flex-1">
                    <div class="flex-column flex gap-2">
                        <label>Status<span class="text-red-700">*</span></label>
                        <p-dropdown [options]="StatusMasterList" formControlName="Status" optionValue="code"  optionLabel="name"  placeholder="Select Status"></p-dropdown>
                        <small *ngIf="isInvalidAndTouched('Status')" class="p-error"> Status is required. </small>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Operator Name</label>
                            <input type="text" pInputText formControlName="OperatorName" />
                            <!-- <p-dropdown [options]="dropdownItemOperatorName" formControlName="OperatorName" optionLabel="operatorName" placeholder="Select Operator Name"></p-dropdown>  -->
                            <small *ngIf="isInvalidAndTouched('OperatorName')" class="p-error"> Operator Name is required. </small>
                        </div>
                    </div>
                 

                    <div class="field flex-1"></div>
                </div>
            </form>

            <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
                <button pButton pRipple label="Back" onclick="history.back()"></button>
                <p-button label="Reset" icon="pi pi-replay" styleClass="p-button-warning" ></p-button>
                <p-button label="Search" icon="pi pi-search" styleClass="p-button-info" (click)="onSearch()"></p-button>
            </div>
        </div>
    </div>
</div>






