<div class="stepsdemo-content">
    <div class="card p-2">
        <p-divider align="left" type="solid">
            <div class="inline-flex align-items-center">
                <i class="pi pi-file mr-2"></i>
                <p-button [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(0)" styleClass="p-button-text" label="Personal Details"></p-button>
            </div>
        </p-divider>

        <p-divider align="left" type="solid">
            <div class="inline-flex align-items-center">
                <i class="pi pi-file mr-2"></i>
                <p-button [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'" (click)="toggle(1)" styleClass="p-button-text" label="Service Details"></p-button>
            </div>
        </p-divider>
    </div>

    <p-accordion>
        <p-accordionTab header="Personal" *ngIf="activeState[0]">
            <div class="grid">
                <div class="col-12">
                    <div class="card">
                        <form [formGroup]="addPersonal" class="flex w-9 mx-auto flex-column justify-content-center align-items-center p-5 gap-2">
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Employee ID<span class="text-red-700">*</span></label>
                                        <input pInputText formControlName="empID" id="empID" type="text" />
                                        <small *ngIf="isInvalidAndTouched('empID')" class="p-error">Employee ID is required. </small>
                                    </div>
                                </div>  
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>PF Account NO.<span class="text-red-700">*</span></label>
                                        <input pInputText formControlName="pfAcc" id="pfAcc" type="text" />
                                        <small *ngIf="isInvalidAndTouched('pfAcc')" class="p-error">PF No. is required </small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Name<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="name" id="name" type="text" />
                                        <small *ngIf="isInvalidAndTouched('name')" class="p-error">Provide Name. </small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Gender<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="gender" id="gender" type="text" />
                                        <small *ngIf="isInvalidAndTouched('gender')" class="p-error">Provide Gender. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="field flex-1">
                                        <div class="flex-column flex gap-2">
                                            <label>Religion<span class="text-red-700">*</span> </label>
                                            <input pInputText formControlName="religion" id="religion" type="text" />
                                            <small *ngIf="isInvalidAndTouched('religion')" class="p-error">Religion is Required.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Date of Birth<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedDOB" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedDOB')" class="p-error">Date of Birth is required. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>PAN</label>
                                        <input pInputText formControlName="pan" id="pan" type="text" />
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Adhaar NO.</label>
                                        <input pInputText formControlName="adhaar" id="adhaar" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Marital Status<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="maritalStatus" id="maritalStatus" type="text" />
                                        <small *ngIf="isInvalidAndTouched('maritalStatus')" class="p-error">Mention Marital Status.</small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>As on/with Effect From<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedEffectFormDate" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedEffectFormDate')" class="p-error">As on/with effect From field is required. </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <p-accordionTab header="Personal" *ngIf="activeState[1]">
            <div class="grid">
                <div class="col-12">
                    <div class="card">
                        <form [formGroup]="addService" class="flex w-9 mx-auto flex-column justify-content-center align-items-center p-5 gap-2">
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Old GPF NO.</label>
                                        <input pInputText formControlName="GPFNo" id="GPFNo" type="text" />
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>PF Account Status<span class="text-red-700">*</span></label>
                                        <input pInputText formControlName="pfAccStatus" id="pfAccStatus" type="text" />
                                        <small *ngIf="isInvalidAndTouched('pfAccStatus')" class="p-error">PF Account Status is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Date of Joining in Service<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedDOJ" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedDOJ')" class="p-error">Approval No is Required.</small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Approval No. of Appointment in present post<span class="text-red-700">*</span></label>
                                        <input pInputText formControlName="approvalNo" id="approvalNo" type="text" />
                                        <small *ngIf="isInvalidAndTouched('approvalNo')" class="p-error">Approval No is Required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Approval Date of Appointment in present post<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedApprovalDate" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedApprovalDate')" class="p-error"> W.E.F Date is required. </small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>With Effect Date of Such Appointment<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedEffecteDate" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedEffecteDate')" class="p-error">With Effect Date of Such Appointment Date is required. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Type<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="type" id="approvalNo" type="text" />
                                        <small *ngIf="isInvalidAndTouched('type')" class="p-error">Type is required. </small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>As on/with Effected From<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedEffectFormDate" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedEffectFormDate')" class="p-error"> As on/with effect From field is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Designation<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="designation" id="approvalNo" type="text" />
                                        <small *ngIf="isInvalidAndTouched('designation')" class="p-error">Designation is required. </small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>As on/with Effected From<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedEffectFormDate" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedEffectFormDate')" class="p-error"> As on/with effect From field is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>GPF/CPF<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="gpfcpf" id="approvalNo" type="text" />
                                        <small *ngIf="isInvalidAndTouched('gpfcpf')" class="p-error">Mention GPF/CPF. </small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Date of Retriment<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedDOR" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedDOR')" class="p-error"> As on/with effect From field is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>GPF/CPF<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="gpfcpf" id="approvalNo" type="text" />
                                        <small *ngIf="isInvalidAndTouched('gpfcpf')" class="p-error">Mention GPF/CPF. </small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Date of Retriment<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedDOR" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedDOR')" class="p-error"> As on/with effect From field is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-center gap-2 w-full">
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Type of Termination<span class="text-red-700">*</span> </label>
                                        <input pInputText formControlName="tot" id="approvalNo" type="text" />
                                        <small *ngIf="isInvalidAndTouched('tot')" class="p-error">Mention GPF/CPF. </small>
                                    </div>
                                </div>
                                <div class="field flex-1">
                                    <div class="flex-column flex gap-2">
                                        <label>Date of Termination<span class="text-red-700">*</span> </label>
                                        <p-calendar formControlName="selectedDOT" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                                        <small *ngIf="isInvalidAndTouched('selectedDOT')" class="p-error"> As on/with effect From field is required.</small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

<div class="flex justify-content-between w-full px-4">
    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
    <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
</div>
