<div class="grid fadein animation-duration-500">
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20  mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/box.png" alt="box" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl">
                        Final Payment Application
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="finalpaymentClick()" ></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-8">Null</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/rupees.png" alt="rupees" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl">
                       Final Payment Eligibility Mast
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link" (click)="MastClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-8">null</div>
            
        </p-card>
     </div> 

     <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
        <button pButton pRipple label="Back" onclick="history.back()"></button>
        
        
        
    </div>