
<div class="grid fadein animation-duration-500">
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 flex mt-90" >
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/employee.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Employee Details
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link" (click)="viewEmployeeDetailsClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-8">Facility will be there to create and modify employee master for those PF subscribers for which salary bill is generated manually.</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/stackholder.png" alt="stackholder" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl">
                        Stakeholder Mapping
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="stakeHolderClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-8">Facility to map and modify the administrative structure of PF maintenance in Non-Govt Institutions  .</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/loan.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Interest Year capture 
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="InClick()" ></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Interest to be captured for a specific year</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/workflow.png" alt="worlflow" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl">
                        Report
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="reportClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6"> Facility to view reports</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/user.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        > Opening balance capture & PF register submission
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="openingbalanceClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility for opening Balance Capture & Submission of PF Register.</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/loan.png" alt="loan" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Interest Rate Master
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="interestRateClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to create/view interest rate master.</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/employee.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Inbox
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="InboxClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to view all the requests pending for this login</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/loan.png" alt="loan" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Tagging of Receipt & Payment
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="taggingReceiptPaymentClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to tag/view employee wise details of receipts into and payment from PF of an institution</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/workflow.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Employee PF Balance Transfer
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="EmployeePFClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to transfer a PF subscriber from one Sanctioning Authority to another or from one NGIPF Administrator to another within same Head Of Account</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/hand.png" alt="hand" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Advance
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link" (click)="advanceClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to apply for PF advance</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/loan.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Workflow Management
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="WorkflowClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to manage Workflow</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/employee.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Delegated DPPG Role
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="delegatedRoleClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to tag treasury officer in delegated dppg role</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/employee.png" alt="employee" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Interest Credit Bill/Statement  
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="BillClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6">Facility to Generate Interest</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/payment.png" alt="payment" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Salary-Details
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="salaryClick()"></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6 align-items-center">View Salary Details</div>
        </p-card>
    </div>
    <div class="col-12 md:col-6 align-items-center justify-content-center column-gap-4 row-gap-6">
        <p-card class="card-1 ml-20 mt-90">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-center ml-20">
                    <img src="assets/layout/images/payment.png" alt="payment" class="w-3rem h-3rem mr-1 mt-2" />
                    <span class="text-primary font-bold ml-2 mt-2 font-bold text-xl"
                        >Final Payment
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon=" pi pi-external-link"(click)="paymentClick()" ></button>
                    </span>
                </div>
            </ng-template>
            <div class="ml-6 align-items-center">NULL.</div>
        </p-card>
    </div>
</div>
