<div class="layout-footer px-6 h-2rem">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo' : 'logo_dark'}}.png" alt="Logo" height="30" class="mr-2 "/>
    <!-- by -->
    <!-- <span class="font-medium ml-2">PrimeNG</span> -->
    <span class="text-sm ml-2">
        Copyright &copy; 2021, Finance Department,Government of West Bengal, All rights reserved.I Designed, developed,and maintained by    
    </span><br>
    <p>
    <span class="text-sm ml-2">
        Engine ID: 2388771236_CR.124.0.0.0 | Version ID:1.0.406 | Site best viewied on Chrome/Firefox/Edge,on a 16:9 aspect ratio screen.
    </span>
    </p>
</div>