<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center">
                <i class="pi pi-angle-double-right mr-2"></i>
                <h5>View Salary Details</h5>
            </div>

            <form [formGroup]="SalaryDetailsForm" class="flex w-9 mx-auto flex-column justify-content-center align-items-center p-5 gap-2">
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Financial Year<span class="text-red-700">*</span></label>
                            <p-dropdown [options]="dropdownItemYearType" formControlName="Financial_year" optionLabel="Year" placeholder="Select year"></p-dropdown>
                            <small *ngIf="isInvalidAndTouched('Financial Year')" class="p-error"> Financial Year is required. </small>
                        </div>
                    </div>
                </div>
            </form>

            <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
                <button pButton pRipple label="Back" onclick="history.back()"></button>
                <p-button label="Search" icon="pi pi-search" styleClass="p-button-info" (click)="onSearch()"></p-button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showTable" class="grid">
    <div class="col-12">
        <div class="card">
            <p-table [value]="SalaryDetails" [rows]="12" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row ; border: 1px solid black;">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search Keyword" class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="max-width: 4rem" pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th> -->
                        <th style="min-width: 12rem; border: 1px solid black" alignFrozen="left">Emp Name</th>
                        <th style="min-width: 26rem; border: 1px solid black" colspan="3">January</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">February</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">March</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">April</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">May</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">June</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">July</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">August</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">September</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">October</th>
                        <th style="min-width: 12rem; border: 1px solid black" colspan="3">November</th>
                        <th style="min-width: 6rem; border: 1px solid black" pFrozenColumn alignFrozen="right" colspan="3">December</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; border: 1px solid black"></th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>

                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>

                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>

                        <th style="text-align: center; border: 1px solid black">PF Subscription</th>
                        <th style="text-align: center; border: 1px solid black">PF Refund Amount</th>
                        <th style="text-align: center; border: 1px solid black">Arrear Amount(₹)</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-SalaryDetails>
                    <tr class="p-selectable-row">
                        <!-- <td style="max-width: 4rem" pFrozenColumn><p-tableCheckbox [value]="reference"></p-tableCheckbox></td> -->
                        <!-- <td style="min-width: 12rem">{{ SalaryDetails.pfAccount }}</td>
                        <td style="min-width: 26rem">{{ SalaryDetails.empName }}</td>
                        <td style="min-width: 12rem">{{ SalaryDetails.DOJ }}</td>
                        <td style="min-width: 12rem">{{ SalaryDetails.status }}</td>
                        <td style="min-width: 6rem" pFrozenColumn alignFrozen="right">
                            <button
                                pButton
                                type="button"
                                class="p-button-help"
                                icon="pi pi-search-plus" 
                            ></button>
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data Available</td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="12">Loading Employee Accounts. Please wait.</td>
                    </tr>
                </ng-template> -->
            </p-table>
        </div>
    </div>
</div>
