<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/demo/images/notfound/logo-blue.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0"> -->
        <img src="assets/layout/images/logo_mini.png" alt="ifms logo" class="mb-5 w-6rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(33, 150, 243, 0.4) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                <span class="text-blue-500 font-bold text-3xl">404</span>
                <h1 class="text-900 font-bold text-3xl mb-2">Not Found!</h1>
                <div class="text-600 text-base mb-5">Looks like you got loast.</div>
                <img src="assets/layout/images/error-alert/not-found.jpg" alt="Logo" height="350"/>
                <a [routerLink]="['/']" class="text-center mt-5">
                    <button type="button" pbutton="" pripple="" label="Go to Dashboard" icon="pi pi-home" class="p-element p-ripple p-button p-component">
                        <span class="p-button-icon p-button-icon-left pi pi-home" aria-hidden="true"></span>
                        <span class="p-button-label">Home</span>
                        <span class="p-ink"></span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>