<!-- <a
    href="http://localhost:4202/#/login/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbiI6IntcIklkXCI6MyxcIk5hbWVcIjpcIkNUU1wiLFwiTGV2ZWxzXCI6W3tcIklkXCI6OCxcIk5hbWVcIjpcIlRyZWFzdXJ5XCIsXCJTY29wZVwiOltcIkJBQVwiXX1dLFwiUm9sZXNcIjpbe1wiSWRcIjoyNyxcIk5hbWVcIjpcImNsZXJrXCIsXCJQZXJtaXNzaW9uc1wiOltcImNhbi1yZWNlaXZlLWJpbGxcIl19XX0iLCJuYW1laWQiOiI0NyIsIm5hbWUiOiJDVFMgQkFBIENsZXJrIiwibmJmIjoxNzA3MzA1MzYwLCJleHAiOjE3MDczOTE3NjAsImlhdCI6MTcwNzMwNTM2MH0.j92GwHcTnML5aNgpH2tD02ZabV-I85gk80O3KwpIBdy5r8m4aCucZsiyKxWIdHWxRbTv0AYvAeR0FixX4vFQzw"
    >cleark</a
><br />
<a
    href="http://localhost:4202/#/login/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbiI6IntcIklkXCI6MyxcIk5hbWVcIjpcIkNUU1wiLFwiTGV2ZWxzXCI6W3tcIklkXCI6OCxcIk5hbWVcIjpcIlRyZWFzdXJ5XCIsXCJTY29wZVwiOltcIkJBQVwiXX1dLFwiUm9sZXNcIjpbe1wiSWRcIjoxNyxcIk5hbWVcIjpcImRlYWxsaW5nLWFzc2lzdGFudFwiLFwiUGVybWlzc2lvbnNcIjpbXCJjYW4tYmlsbC1jaGVja1wiLFwiY2FuLWdlbmVyYXRlLXJldHVybi1tZW1vXCJdfV19IiwibmFtZWlkIjoiNDgiLCJuYW1lIjoiQ1RTIEJBQSAgRGVhbGxpbmcgQXNzaXN0YW50IiwibmJmIjoxNzA3MzA1NTQyLCJleHAiOjE3MDczOTE5NDIsImlhdCI6MTcwNzMwNTU0Mn0.wipqhSYLLlXdsNcypycKtFXfCpiJSIJdKDg53-smx4M7fAzQn9QDhMST4XGrIDeVChGdDdgpXQR8jayqF0LEDg"
    >dealing-assistant</a
><br />
<a
    href="http://localhost:4202/#/login/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbiI6IntcIklkXCI6MyxcIk5hbWVcIjpcIkNUU1wiLFwiTGV2ZWxzXCI6W3tcIklkXCI6OCxcIk5hbWVcIjpcIlRyZWFzdXJ5XCIsXCJTY29wZVwiOltcIkJBQVwiXX1dLFwiUm9sZXNcIjpbe1wiSWRcIjoxOCxcIk5hbWVcIjpcImFjY291bnRhbnRcIixcIlBlcm1pc3Npb25zXCI6W1wiY2FuLWJpbGwtY2hlY2tcIl19XX0iLCJuYW1laWQiOiI0OSIsIm5hbWUiOiJDVFMgQkFBIEFjY291bnRhbnQiLCJuYmYiOjE3MDczMDU2MzksImV4cCI6MTcwNzM5MjAzOSwiaWF0IjoxNzA3MzA1NjM5fQ.YBzZKbWSsS2ItRkPOw3S2VKyw1W2Ysjoexnrt2zhIsP0XrcN2CKKTjAvfy1AJ0heReNBYa2ddBU45JcojTrSaA"
    >accountant</a
><br />
<a
    href="http://localhost:4202/#/login/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbiI6IntcIklkXCI6MyxcIk5hbWVcIjpcIkNUU1wiLFwiTGV2ZWxzXCI6W3tcIklkXCI6OCxcIk5hbWVcIjpcIlRyZWFzdXJ5XCIsXCJTY29wZVwiOltcIkJBQVwiXX1dLFwiUm9sZXNcIjpbe1wiSWRcIjoxNixcIk5hbWVcIjpcInRyZWFzdXJ5LW9mZmljZXJcIixcIlBlcm1pc3Npb25zXCI6W1wiY2FuLWJpbGwtY2hlY2tcIl19XX0iLCJuYW1laWQiOiI1MCIsIm5hbWUiOiJDVFMgQkFBIFRyZWFzdXJ5IE9mZmljZXIiLCJuYmYiOjE3MDczMDU3MjQsImV4cCI6MTcwNzM5MjEyNCwiaWF0IjoxNzA3MzA1NzI0fQ.BbGlZcIoR_CUY3_QQf6U40n39cEBca0hOjdXG8a21Q4RwRq7YirnEOyvlR2EQgR3obthgV92asO9sw8lhyc64g"
    >treasury-officer</a
>
<br/>
<a
    href="http://localhost:4202/#/login/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbiI6IntcIklkXCI6MyxcIk5hbWVcIjpcIk5HSVBGXCIsXCJMZXZlbHNcIjpbe1wiSWRcIjo4LFwiTmFtZVwiOlwiRGVwYXJ0bWVudFwiLFwiU2NvcGVcIjpbXCJGTlwiXX1dLFwiUm9sZXNcIjpbe1wiSWRcIjoxNyxcIk5hbWVcIjpcIkRQUEctTkdJUEYtQURNSU5cIixcIlBlcm1pc3Npb25zXCI6W1wiY2FuLWVtcGxveS12aWV3XCJdfV19IiwibmFtZWlkIjoiNDgiLCJuYW1lIjoiRFBQRyBBRE1JTiIsIm5iZiI6MTcxNzk5Njg4NSwiZXhwIjoxNzE4MDgzMjg1LCJpYXQiOjE3MTc5OTY4ODV9.2EtMLhpHxge7IrKueF2nlX-zMO2xRbZqbDUTT6dLi6j1LDxAF4Cf_aogQUPJQA61joizzggDUHByxvpUq0XJIA"
    >DPPG_Admin</a
> -->
<br/>
<div class="flex align-items-center justify-content-center h-screen">
    <div class="surface-card login-card border-round shadow-2">
        <h1 class="text-2xl font-bold mb-4 login-header">Login</h1>
        <div class="flex flex-column gap-4">
            <div class="login-button">
                <button class="primary p-component p-button-outlined w-full">
                    <a href="http://localhost:4202/#/login/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbiI6IntcIklkXCI6NixcIk5hbWVcIjpcIkUtQmlsbGluZ1wiLFwiTGV2ZWxzXCI6W3tcIklkXCI6OSxcIk5hbWVcIjpcIkRET1wiLFwiU2NvcGVcIjpbXCJCQUFBRUUwMDFcIl19XSxcIlJvbGVzXCI6W3tcIklkXCI6MjUsXCJOYW1lXCI6XCJhcHByb3ZlclwiLFwiUGVybWlzc2lvbnNcIjpbXCJjcmVhdGVcIl19XX0iLCJuYW1laWQiOiIyOSIsIm5hbWUiOiJBcmlqaXQiLCJuYmYiOjE3MTY5NjQwNDEsImV4cCI6MTcxNzA1MDQ0MSwiaWF0IjoxNzE2OTY0MDQxfQ.mAKTJGKou-BesKh_4FfrPiJvCLrncyGiT6cHFmD8Cqyxl06-Hjp59Ms4l26sA3660NjLCQXkccI468lndKBwjQ">
                        Login (DPPG NGIPF ADMIN)
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <a
    href="http://localhost:4202/#/login/?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbiI6IntcIklkXCI6NixcIk5hbWVcIjpcIkUtQmlsbGluZ1wiLFwiTGV2ZWxzXCI6W3tcIklkXCI6OSxcIk5hbWVcIjpcIkRET1wiLFwiU2NvcGVcIjpbXCJCQUFBRUUwMDFcIl19XSxcIlJvbGVzXCI6W3tcIklkXCI6MjUsXCJOYW1lXCI6XCJhcHByb3ZlclwiLFwiUGVybWlzc2lvbnNcIjpbXCJjcmVhdGVcIl19XX0iLCJuYW1laWQiOiIyOSIsIm5hbWUiOiJBcmlqaXQiLCJuYmYiOjE3MTY5NjQwNDEsImV4cCI6MTcxNzA1MDQ0MSwiaWF0IjoxNzE2OTY0MDQxfQ.mAKTJGKou-BesKh_4FfrPiJvCLrncyGiT6cHFmD8Cqyxl06-Hjp59Ms4l26sA3660NjLCQXkccI468lndKBwjQ"
    >DPPG_Admin</a
> -->



