<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center">
                <i class="pi pi-angle-double-right mr-2"></i>
                <h5>Define Interest Rate</h5>
            </div>

            <form [formGroup]="addInterestRate" class="flex w-9 mx-auto flex-column justify-content-center align-items-center p-5 gap-2">
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Interest Rate<span class="text-red-700">*</span></label>
                            <input pInputText formControlName="InterestRate" id="debit_head_of_account" type="text" />
                            <small *ngIf="isInvalidAndTouched('InterestRate')" class="p-error">Interest Rate is required. </small>
                        </div>
                    </div>
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Active<span class="text-red-700">*</span></label>
                            <input pInputText formControlName="active" id="debit_head_of_account" type="text" />
                            <small *ngIf="isInvalidAndTouched('active')" class="p-error"> Mention Active or not. </small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>G.O NO<span class="text-red-700">*</span> </label>
                            <input pInputText formControlName="GONo" id="operator_name" type="text" />
                            <small *ngIf="isInvalidAndTouched('GONo')" class="p-error">G.O No is required. </small>
                        </div>
                    </div>
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>G.O Date<span class="text-red-700">*</span> </label>
                            <p-calendar formControlName="selectedGODate" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                            <small *ngIf="isInvalidAndTouched('selectedGODate')" class="p-error">G.O Date is required. </small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>W.E.F <span class="text-red-700">*</span> </label>
                            <p-calendar formControlName="selectedWEFDate" [maxDate]="maxDateValue"  dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                            <small *ngIf="isInvalidAndTouched('selectedWEFDate')" class="p-error"> W.E.F Date is required. </small>
                            <!-- <div *ngIf="addInterestRate.controls['selectedWEFDate'].errors && (addInterestRate.controls['selectedWEFDate'].dirty || addInterestRate.controls['selectedWEFDate'].touched)">
                                <small class="p-error" *ngIf="addInterestRate.controls['selectedWEFDate'].errors['required']">Memo No is required.</small>
                            </div> -->
                        </div>
                    </div>
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>W.E.T <span class="text-red-700">*</span> </label>
                            <p-calendar formControlName="selectedWETDate" [maxDate]="maxDateValue" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                            <small *ngIf="isInvalidAndTouched('selectedWETDate')" class="p-error"> W.E.T Date is required. </small>
                        </div>
                    </div>
                </div>
            </form>

            <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
                <button pButton pRipple label="Back" onclick="history.back()"></button>
                <p-button label="Approve" icon="pi pi-check" styleClass="p-button-success"></p-button>
            </div>
        </div>
    </div>
</div>
