<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex align-items-center">
                <i class="pi pi-angle-double-right mr-2"></i>
                <h5>Define Interest Rate</h5>
            </div>

            <form [formGroup]="addInterestRate" class="flex w-9 mx-auto flex-column justify-content-center align-items-center p-5 gap-2">
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Interest Rate<span class="text-red-700">*</span></label>
                            <input pInputText formControlName="InterestRate" id="debit_head_of_account" type="number" />
                            <small *ngIf="isInvalidAndTouched('InterestRate')" class="p-error">Interest Rate is required. </small>
                        </div>
                    </div>
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>Active<span class="text-red-700">*</span></label>
                            <p-dropdown [options]="activeOptions" formControlName="active" placeholder="Select Active Status"></p-dropdown>
                            <small *ngIf="isInvalidAndTouched('active')" class="p-error"> Mention Active or not. </small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>G.O NO<span class="text-red-700">*</span> </label>
                            <input pInputText formControlName="GONo" id="operator_name" type="text" />
                            <small *ngIf="isInvalidAndTouched('GONo')" class="p-error">G.O No is required. </small>
                        </div>
                    </div>
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>G.O Date<span class="text-red-700">*</span> </label>
                            <p-calendar formControlName="selectedGODate" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                            <small *ngIf="isInvalidAndTouched('selectedGODate')" class="p-error">G.O Date is required. </small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center gap-2 w-full">
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>W.E.F <span class="text-red-700">*</span> </label>
                            <p-calendar formControlName="selectedWEFDate" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                            <small *ngIf="isInvalidAndTouched('selectedWEFDate')" class="p-error"> W.E.F Date is required. </small>
                        </div>
                    </div>
                    <div class="field flex-1">
                        <div class="flex-column flex gap-2">
                            <label>W.E.T <span class="text-red-700">*</span> </label>
                            <p-calendar formControlName="selectedWETDate" dateFormat="dd.mm.yy" placeholder="" [showIcon]="true"></p-calendar>
                            <small *ngIf="isInvalidAndTouched('selectedWETDate')" class="p-error"> W.E.T Date is required. </small>
                        </div>
                    </div>
                </div>
            </form>

            <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
                <button pButton pRipple label="Back" onclick="history.back()"></button>
                <p-button label="Approve" icon="pi pi-check" styleClass="p-button-success" (click)="approve()"></p-button>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table [value]="interestRates" [rows]="12" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search Keyword" class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white" alignFrozen="left">Interest Rate</th>
                        <th style="min-width: 26rem" class="bg-blue-500 text-white">From Date</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">To Date</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">G.O No.</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">G.O Date</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">Active</th>
                        <th style="min-width: 12rem" class="bg-blue-500 text-white">Exception Count</th>
                        <th style="min-width: 6rem" pFrozenColumn alignFrozen="right" class="bg-blue-500 text-white">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-interestRate>
                    <tr class="p-selectable-row">
                        <td style="min-width: 12rem">{{ interestRate.interestRate }}</td>
                        <td style="min-width: 26rem">{{ interestRate.wef }}</td>
                        <td style="min-width: 12rem">{{ interestRate.endDate }}</td>
                        <td style="min-width: 12rem">{{ interestRate.goNo }}</td>
                        <td style="min-width: 12rem">{{ interestRate.goDate }}</td>
                        <td style="min-width: 12rem">{{ interestRate.activeFlag }}</td>
                        <td style="min-width: 12rem"></td>
                        <td style="min-width: 6rem" pFrozenColumn alignFrozen="right" class="flex gap-2">
                            <button pButton type="button" class="p-button-help" icon="pi pi-pencil"></button>
                            <button pButton type="button" class="p-button-help" icon="pi pi-plus" (click)="addExpection(interestRate.id)"></button>
                            <button pButton type="button" class="p-button-help" icon="pi pi-search"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No Data Available</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="12">Loading Data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
